.container-fluid {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f8f9fa;
}

.main button {
    width: 150px;
}

.custom-progress-bar {
    background-color: #28a745;
}

.text-success {
    color: #28a745;
}

.success-animation {
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(-3px);
    }
    to {
        transform: translateY(3px);
    }
}

.modal-content {
    background-color: #f8f9fa;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.custom-input {
    border: 2px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #495057;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-input:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

